<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student Details</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
</head>
<body>
    <h1 class="offset-3 mt-2 ">Edit Student Details:</h1>

    <form action="/home/adminLogin/adminPage/showExistingStudents/<%= Student._id %>?_method=PATCH" method="POST">

<div class="row cols col-6 offset-3 mt-4">

    <div class="mb-3">

        <label for="Name" class="form-label" > Name Of The Student</label>
        <input type="text" class="form-control" value="<%= Student.name %>" name="student[name]" >
        
    </div>

    <div class="row">
        <div class="mb-3 col-6">
            <label for="Father Name" class="form-label">Father's Name</label>
            <input type="text" class="form-control" value=" <%= Student.fathername %>" name="student[fathername]" >

        </div>

        <div class="mb-3 col-6">
            <label for="Mother Name" class="form-label">Mother's Name</label>
            <input type="text" class="form-control" value="<%= Student.mothername %>" name="student[mothername]" >

        </div>
    </div>



    <div class="mb-3">
        
        <label for="University Roll No" class="form-label" >University Roll No</label>
        <input type="number" class="form-control" value="<%= Student.univno%>" name="student[univno]">
        
    </div>

    <div class="mb-3">
        
        <label for="Registration No" class="form-label" >Registration No</label>
        <input type="number" class="form-control" value="<%= Student.regno %>" name="student[regno]">
        
    </div>



    <div class="row">

        <div class="mb-3 col-6">
        
            <label for="Course" class="form-label" >Select Course</label>
            <select class="form-select" aria-label="B.TECH" name="student[course]" value="<%=Student.course%>" required>
                <option value="Bachelors">Bachelors</option>
                <option value="Masters">Masters</option>
              </select>
            
        </div>

        <div class="mb-3 col-6">
        
            <label for="Department" class="form-label" >Department</label>
            <select class="form-select" aria-label="Department" name="student[department]" value="<%=Student.department%>" required>
                <option value="CSE">CSE</option>
                <option value="AIML">AIML</option>
                <option value="IT">IT</option>
                <option value="Data Science">Data Science</option>
                <option value="BBA">BBA</option>
                <option value="MBA">MBA</option>
              </select>
           
            
        </div>


    </div>


    <div class="row">
        <div class="mb-3 col-6">
            <label for="Email Id" class="form-label">Email Id</label>
            <input type="email" class="form-control" value="<%= Student.Username %>" name="student[Username]">

        </div>

        <div class="mb-3 col">
            <label for="Mobile No" class="form-label">Mobile No</label>
            <input type="number" class="form-control" value="<%= Student.mobilenumber %>" name="student[mobilenumber]" >

        </div>
    </div>


    <div class="row">
        <div class="mb-3 col-6">
            <label for="Gender" class="form-label">Select Gender</label>
            <select class="form-select" aria-label="Gender" name="student[gender]" value="<%= Student.gender %>" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Transgender">Transgender</option>
                
              </select>
           
        </div>

        <div class="mb-3 col-3">
            <label for="DOB" class="form-label">D.O.B</label>
            <input type="date" class="form-control" value="<%= Student.dob %>" name="student[dob]" required >

        </div>


        <div class="mb-3 col">
            <label for="Year Of Admission" class="form-label">Year Of Admission</label>
            <input type="number" class="form-control" value="<%= Student.yearofadmission %>" name="student[yearofadmission]" >

        </div>

       

        <div class="mb-3 col-6">
            <label for="Address" class="form-label">Enter Student Address</label>
            <textarea name="student[address]" class="form-control" rows="6" cols="50" value="<%= Student.address %>" required ></textarea>
        </div>


    
</div>

  <button class="btn btn-danger">Submit Changes</button>

</form>


<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"
></script>
    
</body>
</html>